<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 配置ioc注入 -->
<!--    <bean id="calculator" class="com.smock.spring.aop.newCalc.CalculatorImpl">-->
<!--    </bean>-->

    <!-- 自动扫描包 -->
    <context:component-scan base-package="com.smock.spring.aop.newCalc"></context:component-scan>

    <!-- 使aspectJ的注解起作用：自动匹配和生成代理，也可以手动配置，就不需要注解，类似context:component-scan -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>


</beans>